# Data Preprocessing:

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data.csv')

In [4]:
data

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod
0,0,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Middle,Technical,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site
1,1,Misuse of Debit Cards or Credit Cards,Female,27 and Under,Low,Student,Single,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering
2,2,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Retired,Married,Primary Education,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering
3,3,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Technical,Married,High School,Internet Shopping by Intoducing Himself as a B...,Hacking Social Media Accounts,Social Engineering
4,4,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Others,Married,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering
...,...,...,...,...,...,...,...,...,...,...,...
1797,1797,Through Informatics Theft,Male,51 and Above,Middle,Education,Married,High School,Do Moral Harm,Obtaining and Using Data in Digital Environment,Social Engineering
1798,1798,Through Informatics Theft,Male,51 and Above,Low,Retired,Married,High School,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering
1799,1799,Through Informatics Theft,Female,27 and Under,Low,Technical,Single,Primary Education,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering
1800,1800,Through Informatics Theft,Female,Between 38 and 50,Low,Housewife,Married,High School,Withdrawals Without Knowledge,Obtaining and Using Data in Digital Environment,Social Engineering
1801,1801,Through Informatics Theft,Female,27 and Under,Middle,Technical,Single,High School,Withdrawals Without Knowledge,Copying Bank / ATM Cards,Receiving Public Data on Social Media

Before removing the null data

In [5]:
data.shape

(1802, 11)

After removing the null data

In [6]:
df = data.dropna()

In [7]:
df.shape

(1802, 11)

In [8]:
df.isnull().sum()

S.No             0
Crime            0
Gender           0
Age              0
Income           0
Job              0
Maritalstatus    0
Education        0
Harm             0
Attack           0
AttackMethod     0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1802 entries, 0 to 1801
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   S.No           1802 non-null   int64
 1   Crime          1802 non-null   object
 2   Gender         1802 non-null   object
 3   Age            1802 non-null   object
 4   Income         1802 non-null   object
 5   Job            1802 non-null   object
 6   Maritalstatus  1802 non-null   object
 7   Education      1802 non-null   object
 8   Harm           1802 non-null   object
 9   Attack         1802 non-null   object
 10  AttackMethod   1802 non-null   object
dtypes: int64(1), object(10)
memory usage: 155.0+ KB

In [10]:
df.columns

Index(['S.No', 'Crime', 'Gender', 'Age', 'Income', 'Job', 'Maritalstatus',
       'Education', 'Harm', 'Attack', 'AttackMethod'],
      dtype='object')

In [11]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1797    False
1798    False
1799    False
1800    False
1801    False
Length: 1802, dtype: bool

In [12]:
df.duplicated().sum()

0

In [13]:
df.Crime.unique()

array(['Misuse of Debit Cards or Credit Cards',
       'Hacking into the Information System and Capturing Data',
       'Through Informatics Theft'], dtype=object)

In [14]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [15]:
df.Age.unique()

array(['Between 38 and 50', '27 and Under', '51 and Above',
       'Between 28 and 37'], dtype=object)

In [16]:
df.Income.unique()

array(['Middle', 'Low', 'High'], dtype=object)

In [17]:
df.AttackMethod.unique()

array(['Creating a Fake Shopping Site', 'Social Engineering',
       'Hacking Tools or Malware', 'Card Copying / Generating Devices',
       'Receiving Public Data on Social Media', 'Phishing Attack'],
      dtype=object)

In [18]:
df.Attack.unique()

array(['Hacking Social Media Accounts',
       'Obtaining Electronic Bank Accounts',
       'Obtaining and Using Data in Digital Environment',
       'Copying Bank / ATM Cards', 'Selling Counterfeit Products'],
      dtype=object)

In [19]:
pd.crosstab(df.Age,df.Attack)

Attack,Copying Bank / ATM Cards,Hacking Social Media Accounts,Obtaining Electronic Bank Accounts,Obtaining and Using Data in Digital Environment,Selling Counterfeit Products
Age,,,,,
27 and Under,110,156,20,108,54
51 and Above,14,208,22,52,2
Between 28 and 37,58,262,26,140,22
Between 38 and 50,42,324,40,128,14

In [20]:
pd.crosstab(df.AttackMethod,df.Attack)

Attack,Copying Bank / ATM Cards,Hacking Social Media Accounts,Obtaining Electronic Bank Accounts,Obtaining and Using Data in Digital Environment,Selling Counterfeit Products
AttackMethod,,,,,
Card Copying / Generating Devices,0,120,0,14,0
Creating a Fake Shopping Site,0,222,0,58,0
Hacking Tools or Malware,0,0,108,0,0
Phishing Attack,0,0,0,0,92
Receiving Public Data on Social Media,224,0,0,0,0
Social Engineering,0,608,0,356,0

In [21]:
df.AttackMethod.value_counts()

Social Engineering                       964
Creating a Fake Shopping Site            280
Receiving Public Data on Social Media    224
Card Copying / Generating Devices        134
Hacking Tools or Malware                 108
Phishing Attack                           92
Name: AttackMethod, dtype: int64

In [22]:
df.columns

Index(['S.No', 'Crime', 'Gender', 'Age', 'Income', 'Job', 'Maritalstatus',
       'Education', 'Harm', 'Attack', 'AttackMethod'],
      dtype='object')

Before LabelEncoder

In [23]:
df.head()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod
0,0,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Middle,Technical,Married,Primary Education,Fraud,Hacking Social Media Accounts,Creating a Fake Shopping Site
1,1,Misuse of Debit Cards or Credit Cards,Female,27 and Under,Low,Student,Single,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering
2,2,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Retired,Married,Primary Education,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering
3,3,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Technical,Married,High School,Internet Shopping by Intoducing Himself as a B...,Hacking Social Media Accounts,Social Engineering
4,4,Misuse of Debit Cards or Credit Cards,Male,Between 38 and 50,Low,Others,Married,High School,Internet Shopping Out of Knowledge,Hacking Social Media Accounts,Social Engineering

After LabelEncoder

In [24]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Crime', 'Gender', 'Age', 'Income', 'Job', 'Maritalstatus', 'Education', 'Harm', 'Attack', 'AttackMethod']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [25]:
df.head()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod
0,0,1,1,3,2,9,0,2,1,1,1
1,1,1,0,0,1,8,1,1,2,1,5
2,2,1,1,3,1,7,0,2,2,1,5
3,3,1,1,3,1,9,0,1,3,1,5
4,4,1,1,3,1,6,0,1,2,1,5

In [26]:
df.corr()

,S.No,Crime,Gender,Age,Income,Job,Maritalstatus,Education,Harm,Attack,AttackMethod
S.No,1.000000,0.268073,-0.107670,-0.073293,-0.034236,-0.029119,0.088998,-0.050873,0.070474,0.177265,0.056369
Crime,0.268073,1.000000,-0.237805,-0.008191,-0.063181,-0.102847,0.050194,-0.040659,-0.231643,0.051459,0.330578
Gender,-0.107670,-0.237805,1.000000,0.142829,0.032175,0.176279,-0.284636,0.057562,0.080345,0.013549,-0.049627
Age,-0.073293,-0.008191,0.142829,1.000000,0.110287,-0.108884,-0.450486,0.042025,0.052463,-0.014358,0.082491
Income,-0.034236,-0.063181,0.032175,0.110287,1.000000,-0.092378,-0.108141,-0.162012,0.001779,-0.049182,-0.005811
Job,-0.029119,-0.102847,0.176279,-0.108884,-0.092378,1.000000,0.086361,0.239153,-0.029589,-0.024657,0.004522
Maritalstatus,0.088998,0.050194,-0.284636,-0.450486,-0.108141,0.086361,1.000000,0.012036,-0.043787,0.005369,-0.082279
Education,-0.050873,-0.040659,0.057562,0.042025,-0.162012,0.239153,0.012036,1.000000,-0.008143,-0.034823,0.027717
Harm,0.070474,-0.231643,0.080345,0.052463,0.001779,-0.029589,-0.043787,-0.008143,1.000000,0.304497,-0.166878
Attack,0.177265,0.051459,0.013549,-0.014358,-0.049182,-0.024657,0.005369,-0.034823,0.304497,1.000000,0.045194
AttackMethod,0.056369,0.330578,-0.049627,0.082491,-0.005811,0.004522,-0.082279,0.027717,-0.166878,0.045194,1.000000